flows_ap-nurse-home.json
[
    {
        "id": "4fd2e6c4.650f68",
        "type": "tab",
        "label": "GaSens",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8bc3036a.fdfb7",
        "type": "tab",
        "label": "UI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "40d2acc7.bdaf24",
        "type": "tab",
        "label": "Default uib example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "94c9239b.5c666",
        "type": "mqtt-broker",
        "name": "",
        "broker": "hairdresser.cloudmqtt.com",
        "port": "25522",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "4ede8f17.e6b2e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Verdana,Verdana,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "AP-Home",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 150,
                "sy": 150,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "16e8482f.719b98",
        "type": "ui_tab",
        "name": "GaSens02",
        "icon": "fa-user-circle",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a670c5f7.4b8568",
        "type": "ui_tab",
        "name": "Lucia Snyder",
        "icon": "fa-user-circle",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3bffbdfb.93cdb2",
        "type": "ui_tab",
        "name": "Arslan Osborne",
        "icon": "fa-user-circle",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5b7cad8e.8bb9e4",
        "type": "ui_tab",
        "name": "Mapa",
        "icon": "map",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5ed4d8a8.d5b888",
        "type": "ui_tab",
        "name": "Paige Mcbride",
        "icon": "fa-user-circle",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8275c56c.502a28",
        "type": "ui_tab",
        "name": "GaSens01",
        "icon": "fa-user-circle",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "ca8a4b78.39eaa8",
        "type": "ui_group",
        "name": "GaSens02",
        "tab": "16e8482f.719b98",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6a41a25b.85399c",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "a670c5f7.4b8568",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "7c1b0b41.1674b4",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "3bffbdfb.93cdb2",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "91e4330f.eb3e1",
        "type": "ui_group",
        "name": "Všeobecný prehľad",
        "tab": "5b7cad8e.8bb9e4",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "57fc6dc9.905b54",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "5ed4d8a8.d5b888",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "89b1a038.919d1",
        "type": "ui_group",
        "name": "GaSens01",
        "tab": "8275c56c.502a28",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e322de59.93f1b",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "7c1b0b41.1674b4",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "97a8a5e6.2f2128",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "6a41a25b.85399c",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "5d61aba3.695014",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "57fc6dc9.905b54",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "4780d20c.9e8d0c",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "visualisationPlatform",
        "name": "Sensors",
        "usetls": false,
        "tls": "d50d0c9f.31e858",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "c65fcf3a.e457e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "visualisation_p",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "b405b45b.879578",
        "type": "MySQLdatabase",
        "name": "",
        "host": "130.61.154.45",
        "port": "3306",
        "db": "visualisation_p",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "fd18e2a8.95be5",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "temperature_exterior",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 150,
        "y": 60,
        "wires": [
            [
                "4fecd245.672b4c"
            ]
        ]
    },
    {
        "id": "e7a88837.9461d8",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "resistance_exterior",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "4fecd245.672b4c"
            ]
        ]
    },
    {
        "id": "7ec750d6.beb5",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "humidity_exterior",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 140,
        "y": 180,
        "wires": [
            [
                "4fecd245.672b4c"
            ]
        ]
    },
    {
        "id": "8cfad94.4a5ab28",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "pressure_exterior",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "4fecd245.672b4c"
            ]
        ]
    },
    {
        "id": "4fecd245.672b4c",
        "type": "join",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "dc6f6af4.a034f8"
            ]
        ]
    },
    {
        "id": "1123ce96.d734d1",
        "type": "link out",
        "z": "8bc3036a.fdfb7",
        "name": "Data message in",
        "links": [
            "de4a00e.4722b"
        ],
        "x": 1295,
        "y": 320,
        "wires": []
    },
    {
        "id": "de4a00e.4722b",
        "type": "link in",
        "z": "8bc3036a.fdfb7",
        "name": "Data message out",
        "links": [
            "1123ce96.d734d1"
        ],
        "x": 75,
        "y": 280,
        "wires": [
            [
                "4358c50f.f21c1c"
            ]
        ]
    },
    {
        "id": "5e57ad2.2743054",
        "type": "uibuilder",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "topic": "",
        "url": "dashboard",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "showfolder": false,
        "useSecurity": true,
        "sessionLength": 432000,
        "tokenAutoExtend": true,
        "x": 970,
        "y": 320,
        "wires": [
            [],
            [
                "b530bb0b.34a958",
                "12e32165.61d6ef"
            ]
        ]
    },
    {
        "id": "4ce590be.41206",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "gasens_id03_temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "d96dc0d2.843eb"
            ]
        ]
    },
    {
        "id": "35fdbba8.e105d4",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "gasens_id03_hum",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "d96dc0d2.843eb"
            ]
        ]
    },
    {
        "id": "e4b46ef.9857a9",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "gasens_id03_pres",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 150,
        "y": 520,
        "wires": [
            [
                "d96dc0d2.843eb"
            ]
        ]
    },
    {
        "id": "88e4bf67.1bdb3",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "gasens_id03_voc",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "d96dc0d2.843eb"
            ]
        ]
    },
    {
        "id": "d96dc0d2.843eb",
        "type": "join",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 370,
        "y": 420,
        "wires": [
            [
                "d01c80fa.7f387"
            ]
        ]
    },
    {
        "id": "e2f7fa9.afb0708",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "temperature_id02",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 140,
        "y": 1100,
        "wires": [
            [
                "c82aacab.976a3"
            ]
        ]
    },
    {
        "id": "a92f0fb2.465f",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "resistance_id02",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 140,
        "y": 1160,
        "wires": [
            [
                "c82aacab.976a3"
            ]
        ]
    },
    {
        "id": "9c160676.903578",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "humidity_id02",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 130,
        "y": 1220,
        "wires": [
            [
                "c82aacab.976a3"
            ]
        ]
    },
    {
        "id": "1932e6a.52e6f19",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "pressure_id02",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 130,
        "y": 1280,
        "wires": [
            [
                "c82aacab.976a3"
            ]
        ]
    },
    {
        "id": "c82aacab.976a3",
        "type": "join",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 370,
        "y": 1200,
        "wires": [
            [
                "4db5a5b3.d4777c"
            ]
        ]
    },
    {
        "id": "4db5a5b3.d4777c",
        "type": "debug",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1200,
        "wires": []
    },
    {
        "id": "83dc4452.4fc608",
        "type": "mysql",
        "z": "4fd2e6c4.650f68",
        "mydb": "c65fcf3a.e457e",
        "name": "",
        "x": 760,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f92a41ed.09fca",
        "type": "debug",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 460,
        "wires": []
    },
    {
        "id": "d01c80fa.7f387",
        "type": "function",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "func": "const query = \n`\nINSERT INTO client_data\n(\nclient_id,\ntemperature,\nhumidity,\npressure,\nresistance\n)\nVALUES\n(\n3,\n${msg.payload.gasens_id03_temp},\n${msg.payload.gasens_id03_hum},\n${msg.payload.gasens_id03_pres},\n${msg.payload.gasens_id03_voc}\n);\n`\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 420,
        "wires": [
            [
                "f92a41ed.09fca",
                "83dc4452.4fc608"
            ]
        ]
    },
    {
        "id": "8196f88f.47e868",
        "type": "mysql",
        "z": "8bc3036a.fdfb7",
        "mydb": "b405b45b.879578",
        "name": "Returns",
        "x": 560,
        "y": 120,
        "wires": [
            [
                "7b84f0a0.c8ab4"
            ]
        ]
    },
    {
        "id": "7a34998a.c4be58",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "8196f88f.47e868"
            ]
        ]
    },
    {
        "id": "7b84f0a0.c8ab4",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "Client object",
        "func": "let currentState = msg.payload[0];\n\nlet temperature = [];\nlet humidity = [];\nlet pressure = [];\nlet resistance = [];\n\nmsg.payload.forEach((object) => {\n    \n    //create 4 arrays\n    temperature.push([object.time, object.temperature]);\n    humidity.push([object.time, object.humidity]);\n    pressure.push([object.time, object.pressure]);\n    resistance.push([object.time, object.resistance]);\n    \n});\n\nlet client = \n{\n    id: currentState.id,\n    name: currentState.name,\n    temperature: currentState.temperature,\n    humidity: currentState.humidity,\n    pressure: currentState.pressure,    \n    resistance: currentState.resistance,\n    temperature_arr: temperature,\n    humidity_arr: humidity,\n    pressure_arr: pressure,    \n    resistance_arr: resistance,\n    alerts: []\n};\n\nmsg.payload = client;\n\nmsg.topic = \"client object\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 730,
        "y": 120,
        "wires": [
            [
                "5e57ad2.2743054"
            ]
        ]
    },
    {
        "id": "4358c50f.f21c1c",
        "type": "switch",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "load client",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "all clients",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "selected clients",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "markers",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "add client",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "remove client",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "authorised",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "7a34998a.c4be58"
            ],
            [
                "48a312d6.37c8fc"
            ],
            [
                "48a312d6.37c8fc"
            ],
            [
                "48a312d6.37c8fc"
            ],
            [
                "4a77fa1a.b597a4"
            ],
            [
                "4a77fa1a.b597a4"
            ],
            [
                "5e57ad2.2743054"
            ]
        ]
    },
    {
        "id": "a47be09e.9fd0e",
        "type": "debug",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 280,
        "wires": []
    },
    {
        "id": "4a77fa1a.b597a4",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "42b5975a.313ff8"
            ]
        ]
    },
    {
        "id": "42b5975a.313ff8",
        "type": "mysql",
        "z": "8bc3036a.fdfb7",
        "mydb": "b405b45b.879578",
        "name": "No return",
        "x": 560,
        "y": 280,
        "wires": [
            [
                "a47be09e.9fd0e"
            ]
        ]
    },
    {
        "id": "48a312d6.37c8fc",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "temp",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "76e5ee2c.419f2"
            ]
        ]
    },
    {
        "id": "76e5ee2c.419f2",
        "type": "mysql",
        "z": "8bc3036a.fdfb7",
        "mydb": "b405b45b.879578",
        "name": "Returns",
        "x": 560,
        "y": 200,
        "wires": [
            [
                "d9573d89.18c76"
            ]
        ]
    },
    {
        "id": "d9573d89.18c76",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 200,
        "wires": [
            [
                "5e57ad2.2743054"
            ]
        ]
    },
    {
        "id": "219c6a49.0e74b6",
        "type": "mysql",
        "z": "4fd2e6c4.650f68",
        "mydb": "c65fcf3a.e457e",
        "name": "INSERT",
        "x": 740,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "dc6f6af4.a034f8",
        "type": "function",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "func": "const query = \n`\nINSERT INTO client_data\n(\nclient_id,\ntemperature,\nhumidity,\npressure,\nresistance\n)\nVALUES\n(\n1,\n${msg.payload.temperature_exterior},\n${msg.payload.humidity_exterior},\n${msg.payload.pressure_exterior},\n${msg.payload.resistance_exterior}\n);\n`\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 540,
        "y": 160,
        "wires": [
            [
                "219c6a49.0e74b6",
                "676c1535.d76a6c"
            ]
        ]
    },
    {
        "id": "676c1535.d76a6c",
        "type": "debug",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "7b172412.fe10ac",
        "type": "uibuilder",
        "z": "40d2acc7.bdaf24",
        "name": "",
        "topic": "",
        "url": "sectest",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "showfolder": false,
        "useSecurity": true,
        "sessionLength": 432000,
        "tokenAutoExtend": true,
        "x": 640,
        "y": 320,
        "wires": [
            [
                "e63ab0f6.5f1d"
            ],
            [
                "66a7f4f6.e54d5c"
            ]
        ]
    },
    {
        "id": "e63ab0f6.5f1d",
        "type": "debug",
        "z": "40d2acc7.bdaf24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 975,
        "y": 280,
        "wires": [],
        "l": false
    },
    {
        "id": "c5a226b1.5a57c8",
        "type": "debug",
        "z": "40d2acc7.bdaf24",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 595,
        "y": 380,
        "wires": [],
        "l": false
    },
    {
        "id": "fc11db7e.5752c8",
        "type": "inject",
        "z": "40d2acc7.bdaf24",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * from user",
        "x": 310,
        "y": 640,
        "wires": [
            [
                "5c61ae2f.dc4ca"
            ]
        ]
    },
    {
        "id": "4d110820.8a1388",
        "type": "debug",
        "z": "40d2acc7.bdaf24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 580,
        "wires": []
    },
    {
        "id": "5c61ae2f.dc4ca",
        "type": "mysql",
        "z": "40d2acc7.bdaf24",
        "mydb": "b405b45b.879578",
        "name": "Returns",
        "x": 540,
        "y": 640,
        "wires": [
            [
                "4d110820.8a1388",
                "184962b2.158edd"
            ]
        ]
    },
    {
        "id": "184962b2.158edd",
        "type": "file",
        "z": "40d2acc7.bdaf24",
        "name": "",
        "filename": "/home/opc/.node-red/projects/Visualization_platform/uibuilder/.config/users.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 980,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "a6a66616.7b3288",
        "type": "link out",
        "z": "40d2acc7.bdaf24",
        "name": "",
        "links": [
            "d82e038a.5f739"
        ],
        "x": 1035,
        "y": 360,
        "wires": []
    },
    {
        "id": "d82e038a.5f739",
        "type": "link in",
        "z": "40d2acc7.bdaf24",
        "name": "",
        "links": [
            "a6a66616.7b3288"
        ],
        "x": 435,
        "y": 320,
        "wires": [
            [
                "7b172412.fe10ac",
                "c5a226b1.5a57c8"
            ]
        ]
    },
    {
        "id": "b530bb0b.34a958",
        "type": "debug",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 360,
        "wires": []
    },
    {
        "id": "66a7f4f6.e54d5c",
        "type": "change",
        "z": "40d2acc7.bdaf24",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "uibuilderCtrl",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "_auth.userValidated",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 360,
        "wires": [
            [
                "a6a66616.7b3288"
            ]
        ]
    },
    {
        "id": "12e32165.61d6ef",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "uibuilderCtrl",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "_auth.userValidated",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 320,
        "wires": [
            [
                "1123ce96.d734d1"
            ]
        ]
    },
    {
        "id": "526ea364.2148dc",
        "type": "comment",
        "z": "40d2acc7.bdaf24",
        "name": "Update users.json from database",
        "info": "",
        "x": 310,
        "y": 580,
        "wires": []
    }
]