flows_ap-nurse-home.json
[
    {
        "id": "4fd2e6c4.650f68",
        "type": "tab",
        "label": "Sensors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8bc3036a.fdfb7",
        "type": "tab",
        "label": "UI",
        "disabled": false,
        "info": ""
    },
    {
        "id": "558e4608.692488",
        "type": "tab",
        "label": "Notifications",
        "disabled": false,
        "info": ""
    },
    {
        "id": "617b446b.a0195c",
        "type": "tab",
        "label": "Send notifications",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f25502.d39c1b",
        "type": "tab",
        "label": "Data generator",
        "disabled": false,
        "info": ""
    },
    {
        "id": "94c9239b.5c666",
        "type": "mqtt-broker",
        "name": "",
        "broker": "hairdresser.cloudmqtt.com",
        "port": "25522",
        "tls": "",
        "clientid": "",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "d50d0c9f.31e858",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "4ede8f17.e6b2e",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Verdana,Verdana,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "AP-Home",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 150,
                "sy": 150,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "c65fcf3a.e457e",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "visualisation_p",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "b405b45b.879578",
        "type": "MySQLdatabase",
        "name": "",
        "host": "130.61.154.45",
        "port": "3306",
        "db": "visualisation_p",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "fbc38b7a.95acf8",
        "type": "telegram bot",
        "botname": "smartcare_sk_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "fd18e2a8.95be5",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "temperature_exterior",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 370,
        "y": 100,
        "wires": [
            [
                "4fecd245.672b4c"
            ]
        ]
    },
    {
        "id": "e7a88837.9461d8",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "resistance_exterior",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "4fecd245.672b4c"
            ]
        ]
    },
    {
        "id": "7ec750d6.beb5",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "humidity_exterior",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "4fecd245.672b4c"
            ]
        ]
    },
    {
        "id": "8cfad94.4a5ab28",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "pressure_exterior",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 360,
        "y": 280,
        "wires": [
            [
                "4fecd245.672b4c"
            ]
        ]
    },
    {
        "id": "4fecd245.672b4c",
        "type": "join",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 590,
        "y": 200,
        "wires": [
            [
                "dc6f6af4.a034f8"
            ]
        ]
    },
    {
        "id": "1123ce96.d734d1",
        "type": "link out",
        "z": "8bc3036a.fdfb7",
        "name": "Data message in",
        "links": [
            "de4a00e.4722b"
        ],
        "x": 1435,
        "y": 440,
        "wires": []
    },
    {
        "id": "de4a00e.4722b",
        "type": "link in",
        "z": "8bc3036a.fdfb7",
        "name": "Data message out",
        "links": [
            "1123ce96.d734d1"
        ],
        "x": 275,
        "y": 440,
        "wires": [
            [
                "4358c50f.f21c1c"
            ]
        ]
    },
    {
        "id": "5e57ad2.2743054",
        "type": "uibuilder",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "topic": "",
        "url": "dashboard",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "showfolder": false,
        "useSecurity": true,
        "sessionLength": 432000,
        "tokenAutoExtend": true,
        "x": 1170,
        "y": 320,
        "wires": [
            [],
            [
                "12e32165.61d6ef"
            ]
        ]
    },
    {
        "id": "4ce590be.41206",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "gasens_id03_temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 370,
        "y": 380,
        "wires": [
            [
                "d96dc0d2.843eb"
            ]
        ]
    },
    {
        "id": "35fdbba8.e105d4",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "gasens_id03_hum",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 370,
        "y": 500,
        "wires": [
            [
                "d96dc0d2.843eb"
            ]
        ]
    },
    {
        "id": "e4b46ef.9857a9",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "gasens_id03_pres",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 370,
        "y": 560,
        "wires": [
            [
                "d96dc0d2.843eb"
            ]
        ]
    },
    {
        "id": "88e4bf67.1bdb3",
        "type": "mqtt in",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "topic": "gasens_id03_voc",
        "qos": "2",
        "datatype": "auto",
        "broker": "94c9239b.5c666",
        "x": 360,
        "y": 440,
        "wires": [
            [
                "d96dc0d2.843eb"
            ]
        ]
    },
    {
        "id": "d96dc0d2.843eb",
        "type": "join",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 590,
        "y": 460,
        "wires": [
            [
                "d01c80fa.7f387"
            ]
        ]
    },
    {
        "id": "83dc4452.4fc608",
        "type": "mysql",
        "z": "4fd2e6c4.650f68",
        "mydb": "c65fcf3a.e457e",
        "name": "INSERT",
        "x": 960,
        "y": 420,
        "wires": [
            [
                "2ccc7528.46581a"
            ]
        ]
    },
    {
        "id": "d01c80fa.7f387",
        "type": "function",
        "z": "4fd2e6c4.650f68",
        "name": "Prepare SQL",
        "func": "const query = \n`\nINSERT INTO client_data\n(\nclient_id,\ntemperature,\nhumidity,\npressure,\nresistance\n)\nVALUES\n(\n3,\n${msg.payload.gasens_id03_temp},\n${msg.payload.gasens_id03_hum},\n${msg.payload.gasens_id03_pres},\n${msg.payload.gasens_id03_voc}\n);\n`\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 770,
        "y": 460,
        "wires": [
            [
                "83dc4452.4fc608",
                "2ccc7528.46581a"
            ]
        ]
    },
    {
        "id": "8196f88f.47e868",
        "type": "mysql",
        "z": "8bc3036a.fdfb7",
        "mydb": "b405b45b.879578",
        "name": "Client",
        "x": 770,
        "y": 160,
        "wires": [
            [
                "7b84f0a0.c8ab4"
            ]
        ]
    },
    {
        "id": "7a34998a.c4be58",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "Prepare SQL",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 160,
        "wires": [
            [
                "8196f88f.47e868"
            ]
        ]
    },
    {
        "id": "7b84f0a0.c8ab4",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "Client object",
        "func": "if (msg.payload.length == 0) {\n    return null\n}\n\nlet currentState = msg.payload[0];\n\nlet temperature = [];\nlet humidity = [];\nlet pressure = [];\nlet resistance = [];\nlet bed = [];\n\nmsg.payload.forEach((object) => {\n    \n    //create 4 arrays\n    temperature.push([object.time, object.temperature]);\n    humidity.push([object.time, object.humidity]);\n    pressure.push([object.time, object.pressure]);\n    resistance.push([object.time, object.resistance]);\n    bed.push([object.time, object.bed]);\n    \n});\n\nlet client = \n{\n    id: currentState.id,\n    name: currentState.name,\n    temperature: currentState.temperature,\n    humidity: currentState.humidity,\n    pressure: currentState.pressure,    \n    resistance: currentState.resistance,\n    bed: currentState.bed,\n    temperature_arr: temperature,\n    humidity_arr: humidity,\n    pressure_arr: pressure,    \n    resistance_arr: resistance,\n    bed_arr: bed,\n    alerts: []\n};\n\nmsg.payload = client;\n\nmsg.topic = \"client object\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 950,
        "y": 160,
        "wires": [
            [
                "5e57ad2.2743054",
                "265a7e8d.102922"
            ]
        ]
    },
    {
        "id": "4358c50f.f21c1c",
        "type": "switch",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "load client",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "client info",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "all clients",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "selected clients",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "markers",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "notifications",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "notification settings",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "update client info",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "update user email",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "add client",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "remove client",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "remove notification",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "remove telegram",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "authorised",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 14,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "7a34998a.c4be58"
            ],
            [
                "48a312d6.37c8fc"
            ],
            [
                "48a312d6.37c8fc"
            ],
            [
                "48a312d6.37c8fc"
            ],
            [
                "48a312d6.37c8fc"
            ],
            [
                "48a312d6.37c8fc"
            ],
            [
                "48a312d6.37c8fc"
            ],
            [
                "4a77fa1a.b597a4"
            ],
            [
                "4a77fa1a.b597a4"
            ],
            [
                "4a77fa1a.b597a4"
            ],
            [
                "4a77fa1a.b597a4"
            ],
            [
                "4a77fa1a.b597a4"
            ],
            [
                "4a77fa1a.b597a4"
            ],
            [
                "5e57ad2.2743054"
            ]
        ]
    },
    {
        "id": "4a77fa1a.b597a4",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "Prepare SQL",
        "rules": [
            {
                "t": "set",
                "p": "temp",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 280,
        "wires": [
            [
                "42b5975a.313ff8"
            ]
        ]
    },
    {
        "id": "42b5975a.313ff8",
        "type": "mysql",
        "z": "8bc3036a.fdfb7",
        "mydb": "b405b45b.879578",
        "name": "No return",
        "x": 780,
        "y": 280,
        "wires": [
            [
                "93a6a171.216f1"
            ]
        ]
    },
    {
        "id": "48a312d6.37c8fc",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "Prepare SQL",
        "rules": [
            {
                "t": "set",
                "p": "temp",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 220,
        "wires": [
            [
                "76e5ee2c.419f2"
            ]
        ]
    },
    {
        "id": "76e5ee2c.419f2",
        "type": "mysql",
        "z": "8bc3036a.fdfb7",
        "mydb": "b405b45b.879578",
        "name": "Returns",
        "x": 780,
        "y": 220,
        "wires": [
            [
                "d9573d89.18c76"
            ]
        ]
    },
    {
        "id": "d9573d89.18c76",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 220,
        "wires": [
            [
                "5e57ad2.2743054",
                "265a7e8d.102922"
            ]
        ]
    },
    {
        "id": "219c6a49.0e74b6",
        "type": "mysql",
        "z": "4fd2e6c4.650f68",
        "mydb": "c65fcf3a.e457e",
        "name": "INSERT",
        "x": 960,
        "y": 160,
        "wires": [
            [
                "78a733b3.58a37c"
            ]
        ]
    },
    {
        "id": "dc6f6af4.a034f8",
        "type": "function",
        "z": "4fd2e6c4.650f68",
        "name": "Prepare SQL",
        "func": "const query = \n`\nINSERT INTO client_data\n(\nclient_id,\ntemperature,\nhumidity,\npressure,\nresistance\n)\nVALUES\n(\n1,\n${msg.payload.temperature_exterior},\n${msg.payload.humidity_exterior},\n${msg.payload.pressure_exterior},\n${msg.payload.resistance_exterior}\n);\n`\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 770,
        "y": 200,
        "wires": [
            [
                "78a733b3.58a37c"
            ]
        ]
    },
    {
        "id": "12e32165.61d6ef",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": " ",
        "rules": [
            {
                "t": "delete",
                "p": "uibuilderCtrl",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "_auth.userValidated",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1330,
        "y": 320,
        "wires": [
            [
                "1123ce96.d734d1"
            ]
        ]
    },
    {
        "id": "6669e59b.98054c",
        "type": "mysql",
        "z": "558e4608.692488",
        "mydb": "b405b45b.879578",
        "name": "SELECT",
        "x": 560,
        "y": 340,
        "wires": [
            [
                "ae530c1d.2336c"
            ]
        ]
    },
    {
        "id": "280036e1.69ce0a",
        "type": "mysql",
        "z": "558e4608.692488",
        "mydb": "b405b45b.879578",
        "name": "SELECT",
        "x": 560,
        "y": 240,
        "wires": [
            [
                "b68255ed.a8b7b8"
            ]
        ]
    },
    {
        "id": "b68255ed.a8b7b8",
        "type": "change",
        "z": "558e4608.692488",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "user_client",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 240,
        "wires": [
            [
                "d932c2d6.a1e1"
            ]
        ]
    },
    {
        "id": "1e0c615d.154fef",
        "type": "change",
        "z": "558e4608.692488",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "bounds",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 340,
        "wires": [
            [
                "e6787d49.ad67c"
            ]
        ]
    },
    {
        "id": "674c3625.7955c8",
        "type": "change",
        "z": "558e4608.692488",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT client_id, max_temp, min_temp, max_hum, min_hum, max_pres, min_pres, max_qua FROM visualisation_p.client_info;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 340,
        "wires": [
            [
                "6669e59b.98054c"
            ]
        ]
    },
    {
        "id": "a4f88d99.b8c1f",
        "type": "change",
        "z": "558e4608.692488",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "select user_id,client_id from user as u join selected_clients as sc on u.id = sc.user_id;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "280036e1.69ce0a"
            ]
        ]
    },
    {
        "id": "2463c415.e485bc",
        "type": "function",
        "z": "558e4608.692488",
        "name": "Generate notifications",
        "func": "// newest data from sensors by client\nconst client_data = msg.payload.data\nconst bounds = msg.payload.bounds\n\nnew_notifications = []\nlet max\nlet min\n\nclient_data.forEach(client => {\n    \n    // TEMP\n    if(bounds[client.client_id].min_temp) {\n        min = bounds[client.client_id].min_temp \n    }\n    else {\n        min = 15\n    }                \n    if (client.temperature < min) {\n        if (client.temperature < min - 5) {\n            addNotification(client.client_id, \"TEMP\", client.temperature, \"Teplota u \"+client.name+\" je nebezpečne nízka!\", 1)\n        }\n        else {\n            addNotification(client.client_id, \"TEMP\", client.temperature, \"Teplota u \"+client.name+\" je nezvyčajne nízka!\", 2)\n        }\n    }  \n    if(bounds[client.client_id].max_temp) {\n        max = bounds[client.client_id].max_temp \n    }\n    else {\n        max = 40\n    }   \n    if (client.temperature > max) {\n        if (client.temperature > max + 5) {\n            addNotification(client.client_id, \"TEMP\", client.temperature, \"Teplota u \"+client.name+\" je nebezpečne vysoká!\", 1)\n        }\n        else {\n            addNotification(client.client_id, \"TEMP\", client.temperature, \"Teplota u \"+client.name+\" je nezvyčajne vysoká!\", 2)\n        }\n    }\n\n    // HUM\n    if(bounds[client.client_id].min_hum) {\n        min = bounds[client.client_id].min_hum \n    }\n    else {\n        min = 30\n    } \n    if (client.humidity < min) {\n        if (client.humidity < min - 10) {\n            addNotification(client.client_id, \"HUM\", client.humidity, \"Vlkhosť vzduchu u \"+client.name+\" je nebezpečne nízka!\", 1)\n        }\n        else {\n            addNotification(client.client_id, \"HUM\", client.humidity, \"Vlkhosť vzduchu u \"+client.name+\" je nezvyčajne nízka!\", 2)\n        }\n    }  \n    if(bounds[client.client_id].max_hum) {\n        max = bounds[client.client_id].max_hum \n    }\n    else {\n        max = 50\n    }  \n    if (client.humidity > max) {\n        if (client.humidity > max + 10) {\n            addNotification(client.client_id, \"HUM\", client.humidity, \"Vlkhosť vzduchu u \"+client.name+\" je nebezpečne vysoká!\", 1)\n        }\n        else {\n            addNotification(client.client_id, \"HUM\", client.humidity, \"Vlkhosť vzduchu u \"+client.name+\" je nezvyčajne vysoká!\", 2)\n        }\n    }\n    \n    // PRES\n    if(bounds[client.client_id].min_pres) {\n        min = bounds[client.client_id].min_pres \n    }\n    else {\n        min = 950\n    } \n    if (client.pressure < min) {\n        if (client.pressure < min - 5) {\n            addNotification(client.client_id, \"PRES\", client.pressure, \"Tlak u \"+client.name+\" je nebezpečne nízky!\", 1)\n        }\n        else {\n            addNotification(client.client_id, \"PRES\", client.pressure, \"Tlak u \"+client.name+\" je nezvyčajne nízky!\", 2)\n        }\n    }  \n    if(bounds[client.client_id].max_pres) {\n        max = bounds[client.client_id].max_pres \n    }\n    else {\n        max = 1050\n    }  \n    if (client.pressure > max) {\n        if (client.pressure > max + 5) {\n            addNotification(client.client_id, \"PRES\", client.pressure, \"Tlak u \"+client.name+\" je nebezpečne vysoký!\", 1)\n        }\n        else {\n            addNotification(client.client_id, \"PRES\", client.pressure, \"Tlak u \"+client.name+\" je nezvyčajne vysoký!\", 2)\n        }\n    }\n    \n    // QUA/RES\n    if(bounds[client.client_id].max_qua) {\n        max = bounds[client.client_id].max_qua \n    }\n    else {\n        max = 250\n    }  \n    if (client.resistance > max) {\n        if (client.resistance > max + 20) {\n            addNotification(client.client_id, \"RES\", client.resistance, \"Kvalita vzduchu u \"+client.name+\" je nebezpečne nízka!\", 1)\n        }\n        else {\n            addNotification(client.client_id, \"RES\", client.resistance, \"Kvalita vzduchu u \"+client.name+\" je nezvyčajne nízka!\", 2)\n        }\n    }      \n});\nmsg.payload = new_notifications\nreturn msg;\n\nfunction addNotification(client_id, type, value, message, importance) {\n    let notification = {\n        client_id: client_id,\n        type: type,\n        value: value,\n        message: message + \" (\" + value + \")\",\n        importance: importance,\n    }\n    new_notifications.push(notification)\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1060,
        "y": 380,
        "wires": [
            [
                "2823dce9.868714",
                "2f95bb0.31c8546"
            ]
        ]
    },
    {
        "id": "214bbf62.4c6dc",
        "type": "mysql",
        "z": "558e4608.692488",
        "mydb": "b405b45b.879578",
        "name": "SELECT",
        "x": 560,
        "y": 160,
        "wires": [
            [
                "f2dfc9af.a890b8"
            ]
        ]
    },
    {
        "id": "f2dfc9af.a890b8",
        "type": "change",
        "z": "558e4608.692488",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "notifications",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 160,
        "wires": [
            [
                "d932c2d6.a1e1"
            ]
        ]
    },
    {
        "id": "8d7e3ef8.6322",
        "type": "change",
        "z": "558e4608.692488",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "select * from notification",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 160,
        "wires": [
            [
                "214bbf62.4c6dc"
            ]
        ]
    },
    {
        "id": "2823dce9.868714",
        "type": "debug",
        "z": "558e4608.692488",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 340,
        "wires": []
    },
    {
        "id": "a522c57a.a0b428",
        "type": "comment",
        "z": "558e4608.692488",
        "name": "client bounds",
        "info": "",
        "x": 410,
        "y": 300,
        "wires": []
    },
    {
        "id": "84801364.fc66d",
        "type": "comment",
        "z": "558e4608.692488",
        "name": "user_client",
        "info": "",
        "x": 400,
        "y": 200,
        "wires": []
    },
    {
        "id": "7a1b8528.12f66c",
        "type": "comment",
        "z": "558e4608.692488",
        "name": "notifications",
        "info": "",
        "x": 410,
        "y": 120,
        "wires": []
    },
    {
        "id": "d932c2d6.a1e1",
        "type": "join",
        "z": "558e4608.692488",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 870,
        "y": 160,
        "wires": [
            [
                "3c0d52aa.a13c7e"
            ]
        ]
    },
    {
        "id": "3c0d52aa.a13c7e",
        "type": "function",
        "z": "558e4608.692488",
        "name": "User objects",
        "func": "// user client pairs\nconst user_client = msg.payload.user_client\n// all notifications from db\nconst all_notifications = msg.payload.notifications\n// all users\nlet users = msg.payload.users\n\nusers.forEach(user => {    \n    let selected_clients = []\n    user_client.forEach(uc_pair => {\n        if(user.id == uc_pair.user_id) {\n            selected_clients.push(uc_pair.client_id)\n        }\n    });\n    user.selected_clients = selected_clients\n    let notifications = []\n    all_notifications.forEach(notification => {\n        if(user.id == notification.user_id) {\n            notifications.push(notification)\n        }\n    });\n    user.notifications = notifications\n});\n\nmsg.payload = users\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1030,
        "y": 160,
        "wires": [
            [
                "dc2dab92.eae258",
                "a2ced278.34ee1"
            ]
        ]
    },
    {
        "id": "fae5e2ba.f9e32",
        "type": "mysql",
        "z": "558e4608.692488",
        "mydb": "b405b45b.879578",
        "name": "SELECT",
        "x": 560,
        "y": 80,
        "wires": [
            [
                "833c2731.9449c8"
            ]
        ]
    },
    {
        "id": "833c2731.9449c8",
        "type": "change",
        "z": "558e4608.692488",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "users",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 80,
        "wires": [
            [
                "d932c2d6.a1e1"
            ]
        ]
    },
    {
        "id": "52eaa261.b692fc",
        "type": "change",
        "z": "558e4608.692488",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "select id from user;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "fae5e2ba.f9e32"
            ]
        ]
    },
    {
        "id": "cdb2ae38.fad47",
        "type": "comment",
        "z": "558e4608.692488",
        "name": "users",
        "info": "",
        "x": 390,
        "y": 40,
        "wires": []
    },
    {
        "id": "dc2dab92.eae258",
        "type": "debug",
        "z": "558e4608.692488",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 120,
        "wires": []
    },
    {
        "id": "21228483.b51c6c",
        "type": "join",
        "z": "558e4608.692488",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1230,
        "y": 260,
        "wires": [
            [
                "917e9988.8212e8"
            ]
        ]
    },
    {
        "id": "917e9988.8212e8",
        "type": "link out",
        "z": "558e4608.692488",
        "name": "",
        "links": [
            "639581a8.2ff3c"
        ],
        "x": 1335,
        "y": 260,
        "wires": []
    },
    {
        "id": "639581a8.2ff3c",
        "type": "link in",
        "z": "558e4608.692488",
        "name": "",
        "links": [
            "917e9988.8212e8"
        ],
        "x": 195,
        "y": 560,
        "wires": [
            [
                "22739a5c.761b36"
            ]
        ]
    },
    {
        "id": "d327b400.6a0848",
        "type": "debug",
        "z": "558e4608.692488",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 520,
        "wires": []
    },
    {
        "id": "22739a5c.761b36",
        "type": "function",
        "z": "558e4608.692488",
        "name": "Notification filter",
        "func": "const notifications = msg.payload.notifications\nconst users = msg.payload.users\n\nfinal_notifications = []\n\n// notification must have selected client's id to be assigned to user\n// do not insert if notification has equal type & client_id & importance with some other\nnotifications.forEach(notification => {\n    \n    users.forEach(user => {\n        \n        if(user.selected_clients.includes(notification.client_id)){\n            if(user.notifications.length == 0){                \n                new_notif = newNotification(notification)\n                new_notif.user_id = user.id\n                final_notifications.push(new_notif)\n            }\n            else {\n                let exists = false\n                user.notifications.forEach(usr_notif => {\n                    new_notif = newNotification(notification)\n                    if(usr_notif.type == new_notif.type && usr_notif.client_id == new_notif.client_id && usr_notif.importance == new_notif.importance) {\n                        exists = true\n                    }\n                });\n                if(!exists) {\n                        new_notif.user_id = user.id\n                        final_notifications.push(new_notif)\n                    }\n            }            \n        }            \n    });\n});\n\nmsg.payload = final_notifications\n\nreturn msg\n\n\nfunction newNotification(notification) {\n    let new_notif = {}    \n    new_notif.client_id = notification.client_id\n    new_notif.type = notification.type\n    new_notif.value = notification.value\n    new_notif.message = notification.message\n    new_notif.importance = notification.importance\n    new_notif.user_id = notification.user_id\n    return new_notif\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 560,
        "wires": [
            [
                "d327b400.6a0848",
                "c2de64a2.0a4928"
            ]
        ]
    },
    {
        "id": "a2ced278.34ee1",
        "type": "change",
        "z": "558e4608.692488",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "users",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 160,
        "wires": [
            [
                "21228483.b51c6c"
            ]
        ]
    },
    {
        "id": "2f95bb0.31c8546",
        "type": "change",
        "z": "558e4608.692488",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "notifications",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 380,
        "wires": [
            [
                "21228483.b51c6c"
            ]
        ]
    },
    {
        "id": "c2de64a2.0a4928",
        "type": "split",
        "z": "558e4608.692488",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "topic",
        "x": 570,
        "y": 560,
        "wires": [
            [
                "6f6495ac.83804c",
                "e179c806.9293f8",
                "4d0cac7f.5e1184"
            ]
        ]
    },
    {
        "id": "26336277.ecf05e",
        "type": "mysql",
        "z": "558e4608.692488",
        "mydb": "b405b45b.879578",
        "name": "INSERT",
        "x": 980,
        "y": 520,
        "wires": [
            [
                "d786552c.48bb48"
            ]
        ]
    },
    {
        "id": "6f6495ac.83804c",
        "type": "function",
        "z": "558e4608.692488",
        "name": "SQL query",
        "func": "const notif = msg.payload\n\nconst SQL = `INSERT INTO notification (time, user_id, client_id, type, value, message, importance) VALUES (time(now()), '${notif.user_id}', '${notif.client_id}', '${notif.type}', '${notif.value}', '${notif.message}', '${notif.importance}');`\n\nmsg.topic = SQL\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 790,
        "y": 520,
        "wires": [
            [
                "26336277.ecf05e"
            ]
        ]
    },
    {
        "id": "8df7ae21.ff86a",
        "type": "comment",
        "z": "558e4608.692488",
        "name": "database",
        "info": "",
        "x": 780,
        "y": 480,
        "wires": []
    },
    {
        "id": "57577abd.cf2314",
        "type": "comment",
        "z": "558e4608.692488",
        "name": "telegram & mail",
        "info": "",
        "x": 800,
        "y": 640,
        "wires": []
    },
    {
        "id": "d786552c.48bb48",
        "type": "debug",
        "z": "558e4608.692488",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 520,
        "wires": []
    },
    {
        "id": "d801863f.0e8a48",
        "type": "comment",
        "z": "558e4608.692488",
        "name": "users with their notifications",
        "info": "",
        "x": 1080,
        "y": 80,
        "wires": []
    },
    {
        "id": "be197283.5d755",
        "type": "comment",
        "z": "617b446b.a0195c",
        "name": "email",
        "info": "",
        "x": 750,
        "y": 360,
        "wires": []
    },
    {
        "id": "8a88dc50.081df",
        "type": "e-mail",
        "z": "617b446b.a0195c",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 970,
        "y": 320,
        "wires": []
    },
    {
        "id": "184cabd1.f3ee44",
        "type": "debug",
        "z": "617b446b.a0195c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 80,
        "wires": []
    },
    {
        "id": "e179c806.9293f8",
        "type": "link out",
        "z": "558e4608.692488",
        "name": "",
        "links": [
            "a59169e2.594158",
            "93252fb0.0832f"
        ],
        "x": 735,
        "y": 600,
        "wires": []
    },
    {
        "id": "93252fb0.0832f",
        "type": "link in",
        "z": "617b446b.a0195c",
        "name": "",
        "links": [
            "e179c806.9293f8"
        ],
        "x": 375,
        "y": 140,
        "wires": [
            [
                "884101d6.c9afb"
            ]
        ]
    },
    {
        "id": "b2340688.e38978",
        "type": "debug",
        "z": "617b446b.a0195c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 360,
        "wires": []
    },
    {
        "id": "d12d7ec0.7853a",
        "type": "mysql",
        "z": "617b446b.a0195c",
        "mydb": "b405b45b.879578",
        "name": "SELECT notification_settings",
        "x": 440,
        "y": 180,
        "wires": [
            [
                "a864a3f6.c8dff"
            ]
        ]
    },
    {
        "id": "884101d6.c9afb",
        "type": "change",
        "z": "617b446b.a0195c",
        "name": "Set query",
        "rules": [
            {
                "t": "set",
                "p": "notification",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "select * from notification_settings where user_id= :user_id;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 140,
        "wires": [
            [
                "d12d7ec0.7853a"
            ]
        ]
    },
    {
        "id": "a864a3f6.c8dff",
        "type": "change",
        "z": "617b446b.a0195c",
        "name": "Set credentials",
        "rules": [
            {
                "t": "set",
                "p": "credentials",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 220,
        "wires": [
            [
                "26bd8974.4a4756",
                "e19956cc.9472e8",
                "385dafed.002c7"
            ]
        ]
    },
    {
        "id": "b0fe339.5f1d2d",
        "type": "comment",
        "z": "617b446b.a0195c",
        "name": "telegram",
        "info": "",
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "1467d1e9.6e52ee",
        "type": "comment",
        "z": "617b446b.a0195c",
        "name": "Set telegram chat id for user",
        "info": "",
        "x": 140,
        "y": 540,
        "wires": []
    },
    {
        "id": "f2b94834.768038",
        "type": "telegram receiver",
        "z": "617b446b.a0195c",
        "name": "",
        "bot": "fbc38b7a.95acf8",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 130,
        "y": 600,
        "wires": [
            [
                "f1faa94a.08da38",
                "82a4a3ad.5891c"
            ],
            []
        ]
    },
    {
        "id": "4c83b28f.ffba1c",
        "type": "telegram sender",
        "z": "617b446b.a0195c",
        "name": "",
        "bot": "fbc38b7a.95acf8",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1010,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "26bd8974.4a4756",
        "type": "function",
        "z": "617b446b.a0195c",
        "name": "Prepare Telegram",
        "func": "const credentials = msg.credentials\nconst notification = msg.notification\n\nif(!credentials.telegram_id) {\n    return null\n}\n\nlet telegramObject = {}\n\ntelegramObject.chatId = credentials.telegram_id\ntelegramObject.type = \"message\"\ntelegramObject.content = notification.message\n\nmsg.payload = telegramObject\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 790,
        "y": 120,
        "wires": [
            [
                "184cabd1.f3ee44",
                "4c83b28f.ffba1c"
            ]
        ]
    },
    {
        "id": "e19956cc.9472e8",
        "type": "function",
        "z": "617b446b.a0195c",
        "name": "Prepare email",
        "func": "const credentials = msg.credentials\nconst notification = msg.notification\n\nif(!credentials.email) {\n    return null\n}\n\nmsg.to = credentials.email\nmsg.topic = \"Upozornenie Smartcare.sk\"\nmsg.payload = notification.message\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 780,
        "y": 320,
        "wires": [
            [
                "b2340688.e38978",
                "8a88dc50.081df"
            ]
        ]
    },
    {
        "id": "4d0cac7f.5e1184",
        "type": "debug",
        "z": "558e4608.692488",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 520,
        "wires": []
    },
    {
        "id": "1e786cce.838aa3",
        "type": "trigger",
        "z": "558e4608.692488",
        "name": "Notification check",
        "op1": "notification check",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-3",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 190,
        "y": 220,
        "wires": [
            [
                "52eaa261.b692fc",
                "8d7e3ef8.6322",
                "a4f88d99.b8c1f",
                "674c3625.7955c8",
                "984048d9.5e71a8"
            ]
        ]
    },
    {
        "id": "dfc257ee.8f82e8",
        "type": "inject",
        "z": "558e4608.692488",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "1e786cce.838aa3"
            ]
        ]
    },
    {
        "id": "6a2a4a62.60df64",
        "type": "comment",
        "z": "558e4608.692488",
        "name": "Every 3 minutes",
        "info": "",
        "x": 200,
        "y": 260,
        "wires": []
    },
    {
        "id": "6ae60beb.81c024",
        "type": "mysql",
        "z": "617b446b.a0195c",
        "mydb": "b405b45b.879578",
        "name": "GET Telegram",
        "x": 360,
        "y": 660,
        "wires": [
            [
                "708f85e8.fb31fc"
            ]
        ]
    },
    {
        "id": "f1faa94a.08da38",
        "type": "function",
        "z": "617b446b.a0195c",
        "name": "Prepare Query",
        "func": "msg.topic = `SELECT * FROM notification_settings WHERE telegram_key = ${msg.payload.content}`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 620,
        "wires": [
            [
                "6ae60beb.81c024"
            ]
        ]
    },
    {
        "id": "d7428e4f.7f4ce",
        "type": "comment",
        "z": "617b446b.a0195c",
        "name": "dashboard",
        "info": "",
        "x": 760,
        "y": 200,
        "wires": []
    },
    {
        "id": "f83eebc1.4b8ef8",
        "type": "link out",
        "z": "617b446b.a0195c",
        "name": "",
        "links": [
            "6e15859f.0113cc",
            "958aa8b8.ca5928",
            "13e1073d.4a3289"
        ],
        "x": 935,
        "y": 240,
        "wires": []
    },
    {
        "id": "6b5573dd.4ba39c",
        "type": "comment",
        "z": "8bc3036a.fdfb7",
        "name": "Frontend messages",
        "info": "",
        "x": 410,
        "y": 100,
        "wires": []
    },
    {
        "id": "385dafed.002c7",
        "type": "change",
        "z": "617b446b.a0195c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "new notifications",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 240,
        "wires": [
            [
                "f83eebc1.4b8ef8"
            ]
        ]
    },
    {
        "id": "13e1073d.4a3289",
        "type": "link in",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "links": [
            "f83eebc1.4b8ef8"
        ],
        "x": 1015,
        "y": 400,
        "wires": [
            [
                "5e57ad2.2743054"
            ]
        ]
    },
    {
        "id": "1c3d127.97b24ee",
        "type": "comment",
        "z": "8bc3036a.fdfb7",
        "name": "New notification",
        "info": "",
        "x": 900,
        "y": 400,
        "wires": []
    },
    {
        "id": "78a733b3.58a37c",
        "type": "debug",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 200,
        "wires": []
    },
    {
        "id": "2ccc7528.46581a",
        "type": "debug",
        "z": "4fd2e6c4.650f68",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 460,
        "wires": []
    },
    {
        "id": "eb6904ec.4050b8",
        "type": "function",
        "z": "f25502.d39c1b",
        "name": "",
        "func": "const query = \n`\nINSERT INTO client_data\n(\nclient_id,\ntemperature,\nhumidity,\npressure,\nresistance,\nbed\n)\nVALUES\n(\n${msg.payload},\n${Math.round(Math.random() * 10 + 15).toFixed(2)},\n${Math.round(Math.random() * 20 + 30).toFixed(2)},\n${Math.floor(Math.random() * 100 + 950)},\n${Math.floor(Math.random() * 100 + 100)},\n0\n);\n`\nmsg.topic = query;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 760,
        "y": 260,
        "wires": [
            [
                "95d7088c.0c0898"
            ]
        ]
    },
    {
        "id": "8ec7affa.be975",
        "type": "inject",
        "z": "f25502.d39c1b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "7f5b22a7.f764bc",
                "31295d44.f32a92",
                "407fc4f9.41eafc"
            ]
        ]
    },
    {
        "id": "407fc4f9.41eafc",
        "type": "change",
        "z": "f25502.d39c1b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 200,
        "wires": [
            [
                "eb6904ec.4050b8"
            ]
        ]
    },
    {
        "id": "7f5b22a7.f764bc",
        "type": "change",
        "z": "f25502.d39c1b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 240,
        "wires": [
            [
                "eb6904ec.4050b8"
            ]
        ]
    },
    {
        "id": "ec601fba.bad62",
        "type": "change",
        "z": "f25502.d39c1b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 280,
        "wires": [
            [
                "eb6904ec.4050b8"
            ]
        ]
    },
    {
        "id": "31295d44.f32a92",
        "type": "change",
        "z": "f25502.d39c1b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "4",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 320,
        "wires": [
            [
                "eb6904ec.4050b8"
            ]
        ]
    },
    {
        "id": "95d7088c.0c0898",
        "type": "mysql",
        "z": "f25502.d39c1b",
        "mydb": "c65fcf3a.e457e",
        "name": "INSERT",
        "x": 940,
        "y": 260,
        "wires": [
            [
                "a9d866a2.f4c1e8"
            ]
        ]
    },
    {
        "id": "a9d866a2.f4c1e8",
        "type": "debug",
        "z": "f25502.d39c1b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 260,
        "wires": []
    },
    {
        "id": "dab7128f.eb5c6",
        "type": "mysql",
        "z": "558e4608.692488",
        "mydb": "b405b45b.879578",
        "name": "SELECT",
        "x": 560,
        "y": 420,
        "wires": [
            [
                "2e8c78c0.b0a338"
            ]
        ]
    },
    {
        "id": "2e8c78c0.b0a338",
        "type": "change",
        "z": "558e4608.692488",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "data",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 420,
        "wires": [
            [
                "e6787d49.ad67c"
            ]
        ]
    },
    {
        "id": "984048d9.5e71a8",
        "type": "change",
        "z": "558e4608.692488",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SELECT t1.time, t1.client_id, t2.name, t1.temperature, t1.humidity, t1.pressure, t1.resistance FROM client_data t1 INNER JOIN (SELECT Max(time) time, client_id, name FROM  client_data join (select id,name from all_clients) as ac on client_id = ac.id GROUP BY client_id ) AS t2 ON t1.client_id = t2.client_id AND t1.time = t2.time ORDER BY time DESC;",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 420,
        "wires": [
            [
                "dab7128f.eb5c6"
            ]
        ]
    },
    {
        "id": "daf1e4d8.a02e08",
        "type": "comment",
        "z": "558e4608.692488",
        "name": "client data",
        "info": "",
        "x": 400,
        "y": 380,
        "wires": []
    },
    {
        "id": "e6787d49.ad67c",
        "type": "join",
        "z": "558e4608.692488",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 870,
        "y": 380,
        "wires": [
            [
                "2463c415.e485bc"
            ]
        ]
    },
    {
        "id": "ae530c1d.2336c",
        "type": "function",
        "z": "558e4608.692488",
        "name": "",
        "func": "let arr = msg.payload\nlet newBounds = {}\narr.forEach(el => {\n    bounds = {}\n    bounds.max_temp = el.max_temp\n    bounds.min_temp = el.min_temp\n    bounds.max_hum = el.max_hum\n    bounds.min_hum = el.min_hum\n    bounds.max_pres = el.max_pres\n    bounds.min_pres = el.min_pres\n    bounds.max_qua = el.max_qua\n    bounds.min_qua = el.min_qua\n    newBounds[el.client_id] = bounds\n});\n\nmsg.payload = newBounds\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 560,
        "y": 300,
        "wires": [
            [
                "1e0c615d.154fef"
            ]
        ]
    },
    {
        "id": "81b9cb23.7b4988",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT1 - load client",
        "func": "msg =\n{   \n    \"topic\": \"load client\",\n    \"payload\": \"SELECT id,name,time,temperature,humidity,pressure,resistance,bed FROM all_clients AS ac JOIN client_data AS cd ON ac.id=cd.client_id WHERE cd.time >= DATE(NOW()) - INTERVAL 7 DAY AND ac.id = 1 ORDER BY time DESC;\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "1af17bdc.36ba64",
                "c451e95b.91be68"
            ]
        ]
    },
    {
        "id": "852dde45.86788",
        "type": "inject",
        "z": "8bc3036a.fdfb7",
        "name": "RUN UNIT TESTS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "81b9cb23.7b4988"
            ]
        ]
    },
    {
        "id": "1af17bdc.36ba64",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT2 - load client",
        "func": "// wrong id\nmsg =\n{   \n    \"topic\": \"load client\",\n    \"payload\": \"SELECT id,name,time,temperature,humidity,pressure,resistance,bed FROM all_clients AS ac JOIN client_data AS cd ON ac.id=cd.client_id WHERE cd.time >= DATE(NOW()) - INTERVAL 7 DAY AND ac.id = 99 ORDER BY time DESC;\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 120,
        "y": 640,
        "wires": [
            [
                "7cb804f3.524f5c",
                "c451e95b.91be68"
            ]
        ]
    },
    {
        "id": "7cb804f3.524f5c",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT3 - client info",
        "func": "msg =\n{\n    \"topic\": \"client info\",\n    \"payload\": \"SELECT * FROM client_info WHERE client_id = 1;\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 120,
        "y": 700,
        "wires": [
            [
                "aa7bab5e.b8bfb8",
                "c451e95b.91be68"
            ]
        ]
    },
    {
        "id": "28b440bf.344e9",
        "type": "assert",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "nnull",
                "failMsg": ""
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "type",
                "value": "array",
                "failMsg": ""
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "cont",
                "value": "",
                "valueType": "str",
                "failMsg": ""
            }
        ],
        "x": 990,
        "y": 600,
        "wires": [
            [
                "2e90802b.d297"
            ]
        ]
    },
    {
        "id": "6f898dde.8628e4",
        "type": "link in",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "links": [
            "265a7e8d.102922"
        ],
        "x": 695,
        "y": 1020,
        "wires": [
            [
                "e283a7d2.3840e8"
            ]
        ]
    },
    {
        "id": "265a7e8d.102922",
        "type": "link out",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "links": [
            "6f898dde.8628e4"
        ],
        "x": 1135,
        "y": 220,
        "wires": []
    },
    {
        "id": "aa7bab5e.b8bfb8",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT4 - client info",
        "func": "msg =\n{\n    \"topic\": \"client info\",\n    \"payload\": \"SELECT * FROM client_info WHERE client_id = 99;\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "9d557e67.4fd76",
                "c451e95b.91be68"
            ]
        ]
    },
    {
        "id": "9d557e67.4fd76",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT5 - all clients",
        "func": "msg =\n{\n    \"topic\": \"all clients\",\n    \"payload\": \"SELECT * FROM all_clients;\"   \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 120,
        "y": 800,
        "wires": [
            [
                "39f834cc.e1a33c",
                "c451e95b.91be68"
            ]
        ]
    },
    {
        "id": "a21dc7bc.1e7f88",
        "type": "assert",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "nnull",
                "failMsg": ""
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "type",
                "value": "array",
                "failMsg": ""
            },
            {
                "property": "payload.length",
                "propertyType": "msg",
                "type": "eq",
                "value": "9",
                "valueType": "num",
                "failMsg": ""
            }
        ],
        "x": 990,
        "y": 660,
        "wires": [
            [
                "925e18bc.572228"
            ]
        ]
    },
    {
        "id": "e283a7d2.3840e8",
        "type": "switch",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "client object",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "client info",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "all clients",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "selected clients",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "markers",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "notifications",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "notification settings",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "update client info",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "update user email",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "add client",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "remove client",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "remove notification",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "remove telegram",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "authorised",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 14,
        "x": 790,
        "y": 1020,
        "wires": [
            [
                "f8d0d8e3.ee59e8"
            ],
            [
                "28b440bf.344e9"
            ],
            [
                "a21dc7bc.1e7f88"
            ],
            [
                "2c595b74.03f414"
            ],
            [
                "70c0d02b.2d742"
            ],
            [
                "db4a4488.5db0b8"
            ],
            [
                "fee19ad5.a71638"
            ],
            [
                "e7dccca3.1926e"
            ],
            [
                "67dc6554.2e6b9c"
            ],
            [
                "ff20083a.8c6a38"
            ],
            [
                "3c62c5c4.459b1a"
            ],
            [
                "b10d2d5e.5cd62"
            ],
            [
                "28b89726.47aa38"
            ],
            []
        ]
    },
    {
        "id": "f8d0d8e3.ee59e8",
        "type": "assert",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "nnull",
                "failMsg": ""
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "type",
                "value": "object",
                "failMsg": ""
            }
        ],
        "x": 990,
        "y": 540,
        "wires": [
            [
                "19dc313f.069aef"
            ]
        ]
    },
    {
        "id": "19dc313f.069aef",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "UT1,UT2 - success",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "load client",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UT1,UT2 - success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 540,
        "wires": [
            [
                "73a59022.5e6"
            ]
        ]
    },
    {
        "id": "73a59022.5e6",
        "type": "join",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "16",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1430,
        "y": 1000,
        "wires": [
            [
                "5b0e61ec.16b05"
            ]
        ]
    },
    {
        "id": "2e90802b.d297",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "UT3,UT4 - success",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "client info",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UT3,UT4 - success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 600,
        "wires": [
            [
                "73a59022.5e6"
            ]
        ]
    },
    {
        "id": "925e18bc.572228",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "UT5 - success",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "all clients",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UT5 - success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 660,
        "wires": [
            [
                "73a59022.5e6"
            ]
        ]
    },
    {
        "id": "5b0e61ec.16b05",
        "type": "debug",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 960,
        "wires": []
    },
    {
        "id": "39f834cc.e1a33c",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT6 - selected clients",
        "func": "msg =\n{\n    \"topic\": \"selected clients\",          \n    \"payload\": `SELECT client_id as id, ac.name, ac.lat, ac.lon FROM selected_clients as sc left join all_clients as ac on sc.client_id = ac.id where user_id = 2;`\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 140,
        "y": 860,
        "wires": [
            [
                "b8d50301.8afba",
                "c451e95b.91be68"
            ]
        ]
    },
    {
        "id": "2c595b74.03f414",
        "type": "assert",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "nnull",
                "failMsg": ""
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "type",
                "value": "array",
                "failMsg": ""
            },
            {
                "property": "payload.length",
                "propertyType": "msg",
                "type": "eq",
                "value": "4",
                "valueType": "num",
                "failMsg": ""
            }
        ],
        "x": 990,
        "y": 720,
        "wires": [
            [
                "cffc1713.08ac98"
            ]
        ]
    },
    {
        "id": "cffc1713.08ac98",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "UT6 - success",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "selected clients",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UT6 - success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 720,
        "wires": [
            [
                "73a59022.5e6"
            ]
        ]
    },
    {
        "id": "b8d50301.8afba",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT7 - markers",
        "func": "msg =\n{\n    \"topic\": \"markers\", \n    \"payload\": `SELECT sc.client_id as id, name, lat, lon, temperature, humidity, pressure, resistance from (SELECT client_id,user_id,ac.name,ac.lat,ac.lon from selected_clients as sct left join all_clients as ac on sct.client_id = ac.id) as sc \n            join (select cd.client_id, temperature, humidity, pressure, resistance, cd.time from client_data as cd \n            join (select client_id, MAX(time) as time from client_data group by client_id) as cdt on cd.time = cdt.time AND cd.client_id = cdt.client_id) as sct on sc.client_id = sct.client_id where sc.user_id = 2;`   \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 120,
        "y": 920,
        "wires": [
            [
                "f8ac1d45.99a5",
                "c451e95b.91be68"
            ]
        ]
    },
    {
        "id": "70c0d02b.2d742",
        "type": "assert",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "nnull",
                "failMsg": ""
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "type",
                "value": "array",
                "failMsg": ""
            },
            {
                "property": "payload.length",
                "propertyType": "msg",
                "type": "eq",
                "value": "4",
                "valueType": "num",
                "failMsg": ""
            }
        ],
        "x": 990,
        "y": 780,
        "wires": [
            [
                "b541e35f.45b57"
            ]
        ]
    },
    {
        "id": "b541e35f.45b57",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "UT7 - success",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "markers",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UT7 - success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 780,
        "wires": [
            [
                "73a59022.5e6"
            ]
        ]
    },
    {
        "id": "f8ac1d45.99a5",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT8 - notifications",
        "func": "msg =\n{\n    \"topic\": \"notifications\", \n    \"payload\": `SELECT * FROM notification where user_id = 2;`   \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 130,
        "y": 980,
        "wires": [
            [
                "266d547.a84aaac",
                "c451e95b.91be68"
            ]
        ]
    },
    {
        "id": "db4a4488.5db0b8",
        "type": "assert",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "nnull",
                "failMsg": ""
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "type",
                "value": "array",
                "failMsg": ""
            }
        ],
        "x": 990,
        "y": 840,
        "wires": [
            [
                "a7f628be.7b5bb8"
            ]
        ]
    },
    {
        "id": "a7f628be.7b5bb8",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "UT8 - success",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "notifications",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UT8 - success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 840,
        "wires": [
            [
                "73a59022.5e6"
            ]
        ]
    },
    {
        "id": "266d547.a84aaac",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT9 - notification settings",
        "func": "msg =\n{\n    \"topic\": \"notification settings\", \n    \"payload\": `SELECT * FROM notification_settings where user_id = 2;`   \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 1040,
        "wires": [
            [
                "9a0a5e53.15a6",
                "c451e95b.91be68"
            ]
        ]
    },
    {
        "id": "fee19ad5.a71638",
        "type": "assert",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "nnull",
                "failMsg": ""
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "type",
                "value": "array",
                "failMsg": ""
            },
            {
                "property": "payload.length",
                "propertyType": "msg",
                "type": "eq",
                "value": "1",
                "valueType": "num",
                "failMsg": ""
            }
        ],
        "x": 990,
        "y": 900,
        "wires": [
            [
                "f9a83df5.01a08"
            ]
        ]
    },
    {
        "id": "f9a83df5.01a08",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "UT9 - success",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "notification settings",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UT9 - success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 900,
        "wires": [
            [
                "73a59022.5e6"
            ]
        ]
    },
    {
        "id": "9a0a5e53.15a6",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT10 - update client info",
        "func": "msg =\n{\n    \"topic\": \"update client info\",\n    \"payload\": `UPDATE client_info SET diagnosis = 'string', description = 'string', address = 'string', max_temp = 50, min_temp = 10, max_hum = 60, min_hum = 20, max_pres = 1050, min_pres = 950, max_qua = 400 WHERE client_id = 4`\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "b01555bc.cee5f8",
                "c451e95b.91be68"
            ]
        ]
    },
    {
        "id": "e7dccca3.1926e",
        "type": "assert",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "nnull",
                "failMsg": ""
            },
            {
                "property": "payload.warningCount",
                "propertyType": "msg",
                "type": "eq",
                "value": "0",
                "valueType": "num",
                "failMsg": ""
            },
            {
                "property": "payload.changedRows",
                "propertyType": "msg",
                "type": "eq",
                "value": "1",
                "valueType": "num",
                "failMsg": ""
            }
        ],
        "x": 990,
        "y": 960,
        "wires": [
            [
                "e49ff3ce.a5d2"
            ]
        ]
    },
    {
        "id": "e49ff3ce.a5d2",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "UT10,UT11 - success",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "update client info",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UT10,UT11 - success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 960,
        "wires": [
            [
                "73a59022.5e6"
            ]
        ]
    },
    {
        "id": "b01555bc.cee5f8",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT11 - update client info",
        "func": "msg =\n{\n    \"topic\": \"update client info\",\n    \"payload\": `UPDATE client_info SET diagnosis = '', description = '', address = '', max_temp = null, min_temp = null, max_hum = null, min_hum = null, max_pres = null, min_pres = null, max_qua = null WHERE client_id = 4`\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 1140,
        "wires": [
            [
                "af4105fe.f59548",
                "c451e95b.91be68"
            ]
        ]
    },
    {
        "id": "93a6a171.216f1",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 280,
        "wires": [
            [
                "265a7e8d.102922"
            ]
        ]
    },
    {
        "id": "af4105fe.f59548",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT12 - update user email",
        "func": "msg =\n{\n    \"topic\": \"update user email\",\n    \"payload\": `UPDATE notification_settings SET email = null WHERE user_id = 2`\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 1200,
        "wires": [
            [
                "32aac358.b028cc",
                "c451e95b.91be68"
            ]
        ]
    },
    {
        "id": "67dc6554.2e6b9c",
        "type": "assert",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "nnull",
                "failMsg": ""
            },
            {
                "property": "payload.warningCount",
                "propertyType": "msg",
                "type": "eq",
                "value": "0",
                "valueType": "num",
                "failMsg": ""
            },
            {
                "property": "payload.changedRows",
                "propertyType": "msg",
                "type": "eq",
                "value": "1",
                "valueType": "num",
                "failMsg": ""
            }
        ],
        "x": 990,
        "y": 1020,
        "wires": [
            [
                "40825e7f.be126"
            ]
        ]
    },
    {
        "id": "40825e7f.be126",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "UT12,UT13 - success",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "update user email",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UT12,UT13 - success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 1020,
        "wires": [
            [
                "73a59022.5e6"
            ]
        ]
    },
    {
        "id": "32aac358.b028cc",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT13 - update user email",
        "func": "msg =\n{\n    \"topic\": \"update user email\",\n    \"payload\": `UPDATE notification_settings SET email = 'email@stuba.sk' WHERE user_id = 2`\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 1240,
        "wires": [
            [
                "2883c96b.cd5d46",
                "c451e95b.91be68"
            ]
        ]
    },
    {
        "id": "2883c96b.cd5d46",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT14 - add client",
        "func": "msg =\n{\n    \"topic\": \"add client\",\n    \"payload\": `INSERT INTO selected_clients (client_id, user_id) VALUES (8,2);`           \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 130,
        "y": 1300,
        "wires": [
            [
                "ceaba4db.489268",
                "c451e95b.91be68"
            ]
        ]
    },
    {
        "id": "660e2706.c957a8",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "UT14 - success",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "add client",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UT14 - success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 1080,
        "wires": [
            [
                "73a59022.5e6"
            ]
        ]
    },
    {
        "id": "ff20083a.8c6a38",
        "type": "assert",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "nnull",
                "failMsg": ""
            },
            {
                "property": "payload.warningCount",
                "propertyType": "msg",
                "type": "eq",
                "value": "0",
                "valueType": "num",
                "failMsg": ""
            },
            {
                "property": "payload.affectedRows",
                "propertyType": "msg",
                "type": "eq",
                "value": "1",
                "valueType": "num",
                "failMsg": ""
            }
        ],
        "x": 990,
        "y": 1080,
        "wires": [
            [
                "660e2706.c957a8"
            ]
        ]
    },
    {
        "id": "ceaba4db.489268",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT15 - remove client",
        "func": "msg =\n{\n    \"topic\": \"remove client\",\n    \"payload\": `DELETE FROM selected_clients WHERE client_id = 8 AND user_id = 2;`\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 140,
        "y": 1340,
        "wires": [
            [
                "c451e95b.91be68"
            ]
        ]
    },
    {
        "id": "fa0de361.6052c",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "UT15 - success",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "remove client",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UT15 - success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 1140,
        "wires": [
            [
                "73a59022.5e6"
            ]
        ]
    },
    {
        "id": "3c62c5c4.459b1a",
        "type": "assert",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "nnull",
                "failMsg": ""
            },
            {
                "property": "payload.warningCount",
                "propertyType": "msg",
                "type": "eq",
                "value": "0",
                "valueType": "num",
                "failMsg": ""
            },
            {
                "property": "payload.affectedRows",
                "propertyType": "msg",
                "type": "eq",
                "value": "1",
                "valueType": "num",
                "failMsg": ""
            }
        ],
        "x": 990,
        "y": 1140,
        "wires": [
            [
                "fa0de361.6052c"
            ]
        ]
    },
    {
        "id": "42fd8b10.b10c54",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT17 - remove notification",
        "func": "msg =\n{\n    \"topic\": \"remove notification\",\n    \"payload\": `DELETE FROM notification WHERE id = ${this.context.global.get('notificationId')};`\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 160,
        "y": 1520,
        "wires": [
            [
                "c451e95b.91be68"
            ]
        ]
    },
    {
        "id": "52506a2a.23eb64",
        "type": "mysql",
        "z": "8bc3036a.fdfb7",
        "mydb": "b405b45b.879578",
        "name": "INSERT",
        "x": 480,
        "y": 1440,
        "wires": [
            [
                "70d2df37.ff516",
                "668be245.075eec"
            ]
        ]
    },
    {
        "id": "35474c9b.cd8774",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT16 - insert notification",
        "func": "const SQL = `INSERT INTO notification (time, user_id, client_id, type, value, message, importance) VALUES (time(now()), 2, 8, 'TEMP', 15, 'test', 2);`\n\nmsg.topic = SQL\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 1440,
        "wires": [
            [
                "52506a2a.23eb64"
            ]
        ]
    },
    {
        "id": "76f7146d.25dd4c",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "UT17 - success",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "remove notification",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UT17 - success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 1260,
        "wires": [
            [
                "73a59022.5e6"
            ]
        ]
    },
    {
        "id": "b10d2d5e.5cd62",
        "type": "assert",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "nnull",
                "failMsg": ""
            },
            {
                "property": "payload.warningCount",
                "propertyType": "msg",
                "type": "eq",
                "value": "0",
                "valueType": "num",
                "failMsg": ""
            },
            {
                "property": "payload.affectedRows",
                "propertyType": "msg",
                "type": "eq",
                "value": "1",
                "valueType": "num",
                "failMsg": ""
            }
        ],
        "x": 990,
        "y": 1260,
        "wires": [
            [
                "76f7146d.25dd4c"
            ]
        ]
    },
    {
        "id": "d3649c29.6a28f",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "UT16 - success",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "insert notification",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UT16 - success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 1200,
        "wires": [
            [
                "73a59022.5e6"
            ]
        ]
    },
    {
        "id": "cca2795d.cb4fd8",
        "type": "assert",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "nnull",
                "failMsg": ""
            },
            {
                "property": "payload.warningCount",
                "propertyType": "msg",
                "type": "eq",
                "value": "0",
                "valueType": "num",
                "failMsg": ""
            },
            {
                "property": "payload.affectedRows",
                "propertyType": "msg",
                "type": "eq",
                "value": "1",
                "valueType": "num",
                "failMsg": ""
            }
        ],
        "x": 990,
        "y": 1200,
        "wires": [
            [
                "d3649c29.6a28f"
            ]
        ]
    },
    {
        "id": "70d2df37.ff516",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "notificationId",
                "pt": "global",
                "to": "payload.insertId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "3b32211b.0b759e",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT18 - set telegram",
        "func": "msg.payload = {\n    chatId: 1443122674,\n    content: 437612\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 140,
        "y": 1620,
        "wires": [
            [
                "34662da4.e9bbd2"
            ]
        ]
    },
    {
        "id": "22b880ed.742a7",
        "type": "comment",
        "z": "8bc3036a.fdfb7",
        "name": "Frontend unit tests",
        "info": "",
        "x": 770,
        "y": 880,
        "wires": []
    },
    {
        "id": "fa1f075c.1769e8",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT19 - remove telegram",
        "func": "msg =\n{\n    \"topic\": \"remove telegram\",\n    \"payload\": `UPDATE notification_settings SET telegram_id = NULL WHERE user_id = 2`\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 1700,
        "wires": [
            [
                "c451e95b.91be68"
            ]
        ]
    },
    {
        "id": "470448a9.a57d58",
        "type": "function",
        "z": "617b446b.a0195c",
        "name": "Prepare Query",
        "func": "const telegram = msg.payload.telegram\nconst user_id = msg.payload.notifSettings.user_id\n\nmsg.topic = `UPDATE notification_settings SET telegram_id = ${telegram.chatId} WHERE user_id = ${user_id}`\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1040,
        "y": 540,
        "wires": [
            [
                "fbb9019d.ddc43",
                "5ded6b91.2b8db4"
            ]
        ]
    },
    {
        "id": "fbb9019d.ddc43",
        "type": "mysql",
        "z": "617b446b.a0195c",
        "mydb": "b405b45b.879578",
        "name": "UPDATE Telegram",
        "x": 1270,
        "y": 540,
        "wires": [
            [
                "5ded6b91.2b8db4"
            ]
        ]
    },
    {
        "id": "fe87482.b7aa9b8",
        "type": "join",
        "z": "617b446b.a0195c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 550,
        "y": 600,
        "wires": [
            [
                "b378643c.ab3468",
                "3b1676e2.71b22a"
            ]
        ]
    },
    {
        "id": "708f85e8.fb31fc",
        "type": "change",
        "z": "617b446b.a0195c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "notifSettings",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 700,
        "wires": [
            [
                "fe87482.b7aa9b8"
            ]
        ]
    },
    {
        "id": "82a4a3ad.5891c",
        "type": "change",
        "z": "617b446b.a0195c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "telegram",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 560,
        "wires": [
            [
                "fe87482.b7aa9b8"
            ]
        ]
    },
    {
        "id": "8f120e62.d5c0b",
        "type": "function",
        "z": "617b446b.a0195c",
        "name": "Prepare Telegram",
        "func": "const telegram = msg.payload.telegram\n\nlet telegramObject = {}\n\ntelegramObject.chatId = telegram.chatId\ntelegramObject.type = \"message\"\ntelegramObject.content = \"Telegram úspešne aktivovaný!\"\n\nmsg.payload = telegramObject\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1050,
        "y": 580,
        "wires": [
            [
                "b8431fe4.656ec",
                "f8cafbb6.a33f38"
            ]
        ]
    },
    {
        "id": "b8431fe4.656ec",
        "type": "telegram sender",
        "z": "617b446b.a0195c",
        "name": "",
        "bot": "fbc38b7a.95acf8",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1270,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "cd6a99e0.6be4d8",
        "type": "catch",
        "z": "617b446b.a0195c",
        "name": "",
        "scope": [
            "b378643c.ab3468"
        ],
        "uncaught": false,
        "x": 1010,
        "y": 680,
        "wires": [
            [
                "bed9e448.552d78"
            ]
        ]
    },
    {
        "id": "b378643c.ab3468",
        "type": "function",
        "z": "617b446b.a0195c",
        "name": "Check message",
        "func": "const telegram = msg.payload.telegram\nconst notifSettings = msg.payload.notifSettings\n\nif(telegram.content == notifSettings.telegram_key) {\n    msg.topic = 1\n}\nelse {\n    msg. topic = 0\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 600,
        "wires": [
            [
                "be9b005a.fba0b",
                "692f1861.493728"
            ]
        ]
    },
    {
        "id": "29abcea3.9e7ac2",
        "type": "telegram sender",
        "z": "617b446b.a0195c",
        "name": "",
        "bot": "fbc38b7a.95acf8",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1270,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "bed9e448.552d78",
        "type": "function",
        "z": "617b446b.a0195c",
        "name": "Prepare Telegram",
        "func": "const telegram = msg.payload.telegram\n\nlet telegramObject = {}\n\ntelegramObject.chatId = telegram.chatId\ntelegramObject.type = \"message\"\ntelegramObject.content = \"Zadali ste nesprávny telegram kód!\"\n\nmsg.payload = telegramObject\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1050,
        "y": 640,
        "wires": [
            [
                "29abcea3.9e7ac2",
                "b53bd124.5b425"
            ]
        ]
    },
    {
        "id": "be9b005a.fba0b",
        "type": "switch",
        "z": "617b446b.a0195c",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 850,
        "y": 600,
        "wires": [
            [
                "470448a9.a57d58",
                "8f120e62.d5c0b",
                "52aa5201.d380ac"
            ],
            [
                "bed9e448.552d78",
                "52aa5201.d380ac"
            ]
        ]
    },
    {
        "id": "86dc742d.528fd8",
        "type": "catch",
        "z": "617b446b.a0195c",
        "name": "",
        "scope": [
            "6ae60beb.81c024"
        ],
        "uncaught": false,
        "x": 330,
        "y": 740,
        "wires": [
            [
                "708f85e8.fb31fc"
            ]
        ]
    },
    {
        "id": "34662da4.e9bbd2",
        "type": "link out",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "links": [
            "a136794a.a60f98",
            "c0ac1bf9.fa8228"
        ],
        "x": 355,
        "y": 1700,
        "wires": []
    },
    {
        "id": "c0ac1bf9.fa8228",
        "type": "link in",
        "z": "617b446b.a0195c",
        "name": "",
        "links": [
            "34662da4.e9bbd2"
        ],
        "x": 215,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "9bcb110.a758ff",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "UT19 - success",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "remove telegram",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UT19 - success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 1380,
        "wires": [
            [
                "73a59022.5e6"
            ]
        ]
    },
    {
        "id": "28b89726.47aa38",
        "type": "assert",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "nnull",
                "failMsg": ""
            },
            {
                "property": "payload.warningCount",
                "propertyType": "msg",
                "type": "eq",
                "value": "0",
                "valueType": "num",
                "failMsg": ""
            },
            {
                "property": "payload.changedRows",
                "propertyType": "msg",
                "type": "eq",
                "value": "1",
                "valueType": "num",
                "failMsg": ""
            }
        ],
        "x": 990,
        "y": 1380,
        "wires": [
            [
                "9bcb110.a758ff"
            ]
        ]
    },
    {
        "id": "f8cafbb6.a33f38",
        "type": "link out",
        "z": "617b446b.a0195c",
        "name": "",
        "links": [
            "322cceb1.e21082",
            "de4ad803.f4cc88"
        ],
        "x": 1175,
        "y": 440,
        "wires": []
    },
    {
        "id": "b53bd124.5b425",
        "type": "link out",
        "z": "617b446b.a0195c",
        "name": "",
        "links": [
            "dff9062a.5eb3b8",
            "57a15321.c2656c"
        ],
        "x": 1165,
        "y": 760,
        "wires": []
    },
    {
        "id": "60b8fb28.03ba84",
        "type": "function",
        "z": "8bc3036a.fdfb7",
        "name": "UT20 - set telegram ",
        "func": "msg.payload = {\n    chatId: 1443122674,\n    content: \"420666\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 140,
        "y": 1780,
        "wires": [
            [
                "34662da4.e9bbd2"
            ]
        ]
    },
    {
        "id": "de4ad803.f4cc88",
        "type": "link in",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "links": [
            "f8cafbb6.a33f38"
        ],
        "x": 895,
        "y": 1320,
        "wires": [
            [
                "7c7e5bab.fd0594"
            ]
        ]
    },
    {
        "id": "d94437cb.b82be8",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "UT18 - success",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "set telegram",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UT18 - success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 1320,
        "wires": [
            [
                "73a59022.5e6"
            ]
        ]
    },
    {
        "id": "7c7e5bab.fd0594",
        "type": "assert",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "nnull",
                "failMsg": ""
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "type",
                "value": "object",
                "failMsg": ""
            },
            {
                "property": "payload.content",
                "propertyType": "msg",
                "type": "eq",
                "value": "Telegram úspešne aktivovaný!",
                "valueType": "str",
                "failMsg": ""
            }
        ],
        "x": 990,
        "y": 1320,
        "wires": [
            [
                "d94437cb.b82be8"
            ]
        ]
    },
    {
        "id": "a1233a84.5d6058",
        "type": "change",
        "z": "8bc3036a.fdfb7",
        "name": "UT20 - success",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "set telegram wrong input",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "UT20 - success",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 1440,
        "wires": [
            [
                "73a59022.5e6"
            ]
        ]
    },
    {
        "id": "76c77e62.8fc6d",
        "type": "assert",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "rules": [
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "nnull",
                "failMsg": ""
            },
            {
                "property": "payload",
                "propertyType": "msg",
                "type": "type",
                "value": "object",
                "failMsg": ""
            },
            {
                "property": "payload.content",
                "propertyType": "msg",
                "type": "eq",
                "value": "Zadali ste nesprávny telegram kód!",
                "valueType": "str",
                "failMsg": ""
            }
        ],
        "x": 990,
        "y": 1440,
        "wires": [
            [
                "a1233a84.5d6058"
            ]
        ]
    },
    {
        "id": "57a15321.c2656c",
        "type": "link in",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "links": [
            "b53bd124.5b425"
        ],
        "x": 895,
        "y": 1440,
        "wires": [
            [
                "76c77e62.8fc6d"
            ]
        ]
    },
    {
        "id": "2f087827.09e818",
        "type": "link in",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "links": [
            "668be245.075eec"
        ],
        "x": 895,
        "y": 1200,
        "wires": [
            [
                "cca2795d.cb4fd8"
            ]
        ]
    },
    {
        "id": "668be245.075eec",
        "type": "link out",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "links": [
            "2f087827.09e818"
        ],
        "x": 535,
        "y": 1400,
        "wires": []
    },
    {
        "id": "eeff1e51.b3af2",
        "type": "complete",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "scope": [
            "d94437cb.b82be8"
        ],
        "uncaught": false,
        "x": 110,
        "y": 1660,
        "wires": [
            [
                "fa1f075c.1769e8"
            ]
        ]
    },
    {
        "id": "209310ed.5f13",
        "type": "complete",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "scope": [
            "9bcb110.a758ff"
        ],
        "uncaught": false,
        "x": 110,
        "y": 1740,
        "wires": [
            [
                "60b8fb28.03ba84"
            ]
        ]
    },
    {
        "id": "848dfbe2.9584d8",
        "type": "complete",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "scope": [
            "fa0de361.6052c"
        ],
        "uncaught": false,
        "x": 110,
        "y": 1400,
        "wires": [
            [
                "35474c9b.cd8774"
            ]
        ]
    },
    {
        "id": "c6bcbd85.5327e",
        "type": "complete",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "scope": [
            "d3649c29.6a28f"
        ],
        "uncaught": false,
        "x": 110,
        "y": 1480,
        "wires": [
            [
                "42fd8b10.b10c54"
            ]
        ]
    },
    {
        "id": "ebe4ea1c.09f558",
        "type": "complete",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "scope": [
            "76f7146d.25dd4c"
        ],
        "uncaught": false,
        "x": 110,
        "y": 1580,
        "wires": [
            [
                "3b32211b.0b759e"
            ]
        ]
    },
    {
        "id": "c451e95b.91be68",
        "type": "link out",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "links": [
            "73d1e866.1c9dd8"
        ],
        "x": 555,
        "y": 1160,
        "wires": []
    },
    {
        "id": "73d1e866.1c9dd8",
        "type": "link in",
        "z": "8bc3036a.fdfb7",
        "name": "",
        "links": [
            "c451e95b.91be68"
        ],
        "x": 295,
        "y": 240,
        "wires": [
            [
                "4358c50f.f21c1c"
            ]
        ]
    },
    {
        "id": "3b1676e2.71b22a",
        "type": "debug",
        "z": "617b446b.a0195c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 500,
        "wires": []
    },
    {
        "id": "692f1861.493728",
        "type": "debug",
        "z": "617b446b.a0195c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "52aa5201.d380ac",
        "type": "debug",
        "z": "617b446b.a0195c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 740,
        "wires": []
    },
    {
        "id": "5ded6b91.2b8db4",
        "type": "debug",
        "z": "617b446b.a0195c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 480,
        "wires": []
    }
]